/* achievements.css */
body {
    font-family: 'trebuchet ms', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    background: #fff;
    color: #333;
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
    border-bottom: 1px solid #ECEFF1; /* Add a shaded line at the bottom */
}

/* Increase the margin-bottom to create more space */
.sign-buttons {
    margin-right: 20px;
    margin-bottom: 20px;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.achievement-category {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.achievement-all {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Creates columns that are at least 250px wide */
    gap: 20px; /* Adds gap between grid items */
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
}

.achievement-list {
    list-style-type: none;
    padding: 0;
}

.achievement li {
    padding: 10px;
    margin-bottom: 10px;
}