.guilds-container {
    display: flex;
    justify-content: space-between; /* This spreads out your cards evenly */
    flex-wrap: wrap; /* Allows cards to wrap onto the next line on smaller screens */
}

.guild-card:hover {
    transform: scale(1.05); /* Enlarges the card on hover */
    background-color: #e0e0e0; /* Slightly darker shade when hovering */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow for depth effect */
}

.guild-images {
    width: 100%;
    max-width: 200px;
    height: 200px; /* set your desired height */
    object-fit: cover; /* This will cover the area without breaking the aspect ratio */
    margin-top: 20px;

}

.guild-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px; /* Adjust based on your content */
    width: 300px;
    background-color: #e9e9e9; /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin: 20px; /* Ensures there's space between cards */
    border-radius: 10px; /* Optional: adds rounded corners */
}

#hero {
    background-image: linear-gradient(to right, #0062E6, #33AEFF); /* Replace with your preferred gradient or image */
    color: white; /* Ensures text is readable against a darker background */
    text-align: center; /* Centers the text */
    position: relative; /* Needed if you plan to use absolute positioning for child elements */
}

.hero-content {
    margin: 0 auto; /* Centers the content block */
    position: relative; /* Allows for positioning of elements within */
}

#hero h1 {
    font-size: 48px; /* Large, engaging font size */
    font-weight: bold; /* Ensures the headline stands out */
}

#hero p {
    font-size: 20px; /* Larger than normal text for visibility */
    margin-bottom: 40px; /* Spacing between the subtext and the button */
    color: #E0F7FA; /* Lighter text color for contrast but still readable */
}

.hero-button {
    background: gold;; /* Eye-catching button color */
    color: black; /* Text color */
    border: none; /* Removes default button border */
    padding: 15px 30px; /* Size of the button */
    font-size: 18px; /* Button text size */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Changes cursor to indicate clickable */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.hero-button:hover {
    background-color: #FB8C00; /* Darker shade on hover */
}
