/* styles.css */
body {
    font-family: 'trebuchet ms', sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    background: #fff;
    color: #333;
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
    border-bottom: 1px solid #ECEFF1; /* Add a shaded line at the bottom */

}


header img {
    max-width: 48px; /* Adjust this value to fit your design needs */
    height: auto; /* This keeps the aspect ratio of the logo */
    margin-right: 20px; /* Added margin for spacing */
    margin-left: 100px;
}

header .header-content {
    display: flex;
    align-items: center;
}

header p {
    margin: 0; /* Remove default margin for the paragraph */
    font-size: 1.5rem; /* Adjust the font size as needed */
}

nav {
    margin-left: auto; /* Right-align the navigation */
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto; /* Right-align the navigation and maintain right margin */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    margin-right: 20px; /* Add margin to the right of the text */

}

.hero {
    text-align: center;
    padding: 2rem;
    background: url('hero-bg.jpg') no-repeat center center/cover;
}

body {
    display: block;
    margin: 0; /* Remove any default margin */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: gold;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}
