/* Base Styles */
body {
    font-family: 'trebuchet ms', sans-serif;
    line-height: 1.6;
    margin: 0; /* Consolidated body margin reset */
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #333;
    padding: 0 20px;
    margin: 0;
    border-bottom: 1px solid #ECEFF1;
}

header img {
    max-width: 48px;
    height: auto;
    margin: 10px 20px 0 10px; /* Consolidated margins */
}

.logo-link, /* Unified font styling */
header p {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
    margin: 0 10px; /* Simplified margin for list items */
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Header Content & Sign Buttons Layout */
.header-content,
.sign-buttons {
    display: flex; /* Added for .header-content to ensure flex display */
    align-items: center;
    justify-content: center;
    flex-basis: 240px;
    flex-shrink: 0;
}

.sign-buttons {
    margin-bottom: 20px; /* Specific to .sign-buttons */    
}
.sign-buttons > * + * {
    margin-left: 15px; /* Adds spacing between buttons */
}

.center-nav {
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

/* Hero Styles */
.hero {
    text-align: center;
    padding: 2rem;
}

/* Call to Action Button */
.cta-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    background: gold;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

/* Main Content & Section Styles */
main {
    margin: auto;
    padding: 0px;
}

section {
    padding: 40px 60px; /* Consolidated section padding */
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #ffffff; /* Default background color */
}

/* Alternating Section Backgrounds */
section:nth-child(odd) {
    background-color: #f9f9f9;
}

section:nth-child(even) {
    background-color: #efefef;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: .5rem;
    background: #333;
    color: #fff;
}
